@font-face {
    font-family: 'ABCDiatypeRegular';
        src: url('/ABCDiatypeRegular.eot');
        src: url('/ABCDiatypeRegular.eot') format('embedded-opentype'),
            url('/ABCDiatypeRegular.woff2') format('woff2'),
            url('/ABCDiatypeRegular.woff') format('woff'),
            url('/ABCDiatypeRegular.ttf') format('truetype'),
            url('/ABCDiatypeRegular.svg#ABCDiatypeRegular') format('svg');
}